*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    resize: none;
    font-family:'Montserrat', sans-serif;
    resize: none;
}
html,body{
    height: 100%;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.clear{clear: both;}
a{
    color: #FFFFFF;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/*=== HEADER ===*/
.logo img{
    float: left;
    width: 236px;
}
header{
    padding: 20px 2%;
}
nav.menu-mobile{
	float: right;
	width: 28px;
	height: 28px;
	margin-top:7px;
	cursor: pointer;
	background-image: url("../img/menu-mobile.png");
	background-size:100% 100%;
	display: none;
    transition: 0.4s;
}
nav.menu-mobile ul{
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 65px;
    border: 0.9px solid #333333;
    z-index: 5;
    text-align: center;
    width: 100%;
}
nav.menu-mobile ul li{
    padding: 10px 0;
    text-transform: uppercase;
    border-bottom: 0.8px solid #333333;
    transition: 0.3s;
}
nav.menu-mobile ul li:hover{
    background-color: #e4e4e4;
}
header nav.menu-desktop{
    float: right;
}
header nav.menu-desktop ul{
    padding: 8px 0;
    list-style-type: none;
}
header nav.menu-desktop ul li{
    float: left;
    font-size: 14px;
    padding: 0 20px;
    text-transform: uppercase;
}
header ul a{
    text-decoration: none;
    color: #b4b4b4;
}
/*=== HEADER ===*/

/*=== MOSAICO ===*/

.mosaico-single{
    float: left;
    width: calc(100% / 6);
}
.img-mosaico-single{
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    background-color: #CCCCCC;
    border: 5px solid #FFFFFF;
}
section.servicos > .container{
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    text-align: center;
}
section.servicos > .container .box-servico{
    background-image: url("../img/icone_dente.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center calc(100% - 5px);
}
section.servicos > .container .box-servico h2{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}
section.servicos > .container .box-servico p{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 12px;
    margin-top: 8px;
}
section.servicos > .container .box-servico:nth-of-type(1){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}
section.servicos > .container .box-servico:nth-of-type(2){
    width: 40%;
    background-color: #688293;
    background-image: none;
    padding: 45px 2%;
}
section.servicos > .container .box-servico:nth-of-type(3){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}
section.perfil-container{
    padding: 40px 0;
}
section.perfil-container .container{
    max-width: 800px;
}
section.perfil-container .perfil-wraper{
    padding-top: 60%;
    position: relative;
}
section.perfil-container .perfil-wraper2{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
section.perfil-container .img-perfil{
    width: 40%;
    height: 100%;
    background-image: url("../img/img_perfil.png");
    background-size: 100% 100%;
}
section.perfil-container .texto-perfil{
    width: 60%;
    padding: 0 30px;
}
section.perfil-container .texto-perfil h2{
    color: #698293;
    font-size: 18px;
}
section.perfil-container .texto-perfil p{
    color: #4b4b4b;
    font-size: 14px;
    margin-top: 8px;
}
section.videos{
	padding:50px 2%;
}

section.videos .box-video{
	float: left;
    border: 5px solid transparent;
	width: 33.3%;
    position: relative;
	padding-top: calc(33.3% * 0.6);
}
section.videos iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
section.tratamentos .tratamento-container{
    float: left;
    width: 33.3%;
}
section.tratamentos > h2{
    text-align: center;
    color: #698293;
    font-size: 18px;
}
section.tratamentos{
    padding: 70px 0;
}
section.tratamentos > .container{
    padding: 80px 0;
}
.tratamento-single{
    padding: 20px;
}
.tratamento-single h2{
    font-size: 18px;
    color: #737373;
}
.tratamento-single p{
    font-size: 13px;
    padding-top: 10px;
    color: #b4b4b4;
}
section.depoimentos > h2{
    text-align: center;
    color: #698293;
    font-size: 18px;
}
section.depoimentos > .container{
    padding: 40px 0;
    max-width: 400px;
}
section.depoimentos .depoimento-single{
    text-align: center;
    width: 100%;
    padding: 0 2%;
}
section.depoimentos .nome-depoimento img{
    border-radius: 16px;
    width: 32px;
    height: 32px;
}
.depoimento-single q::before{
    content: "\201C";
    font-size: 33px;
    color: #b4b4b4;
}
.depoimento-single q::after{
    content: "\201D";
    font-size: 33px;
    color: #b4b4b4;
}
.depoimento-single .nome-depoimento{
    padding: 19px 0;
}
.nome-depoimento span{
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 7px;
    padding-left: 3px;
    color: #b4b4b4;
}
.slider-bullets{
    padding-left: 30px;
    margin-top: 33px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-bullets span{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
    background-color: rgb(200,200,200);
    border-radius: 8px;
}
.slider-bullets span:nth-of-type(2){
    background-color: rgb(120,120,120);
}
.instagram-chamada{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #98A5AE;
}
.instagram-chamada p{
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 0;
    line-height: 23px;
}
.instagram-chamada i{
    color: #FFFFFF;
    font-size: 32px;
}

.mosaico-social{
    float: left;
    width: 100%;
}
.img-mosaico-single-social{
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    background-color: #CCCCCC;
    border: 5px solid #FFFFFF;
}
.facebook-chamada{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #576975;
}
.facebook-chamada p{
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 0;
    line-height: 23px;
}
.facebook-chamada i{
    color: #FFFFFF;
    font-size: 32px;
}
section.contato{
    padding: 60px 2%;
}
section.contato > h2{
    text-align: center;
    color: #698293;
    font-size: 18px;
}
section.contato form{
    width: 100%;
    margin: 30px auto;
    max-width: 500px;
}
.form-wraper span{
    font-size: 15px;
    color: #b4b4b4;
}
.form-wraper input[type="text"],
.form-wraper input[type="email"],
.form-wraper input[type="tel"]{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 9px;
    border: 1px solid #dadada;
    margin-top: 8px;
}
.form-wraper{
    float: left;
    margin-top: 10px;
    padding: 0 10px;
}
.w100{
    width: 100%;
}
.w50{
    width: 50%;
}
.form-wraper textarea{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    height: 121px;
    border: 1px solid #dadada;
}
.form-wraper input[type="submit"]{
    width: 100px;
    height: 35px;
    border: none;
    background-color: #688293;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
footer{
    padding: 50px 2%;
    background-color: #688293;
}
footer .footer-block{
    float: left;
    width: 33.3%;
}
footer .footer-block h2{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
}
footer .footer-block p{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 8px;
}
footer .container{
    max-width: 900px;
}






@media screen and (max-width: 1024px){
    .img-mosaico-single-social{
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }
    .moisaico-social > div:nth-of-type(1n+7){
        display: none;
    }
}
@media screen and (max-width: 768px){
    a{
        color: #FFFFFF;
        text-decoration: underline;
    }
    section.servicos > .container{
        flex-direction: column;
    }          
    section.servicos > .container .box-servico:nth-of-type(1){
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;
    }
    section.servicos > .container .box-servico:nth-of-type(2){
        width: 95%;
        max-width: 410px;
        padding: 40px 2%;
    }
    section.servicos > .container .box-servico:nth-of-type(3){
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;
    }
    section.perfil-container .perfil-wraper{
        padding-top: 0;
    }
    section.perfil-container .perfil-wraper2{
        display: inline-block;
        text-align: center;
        height: auto;
        position: static;
    }
    section.perfil-container .img-perfil{
        width: 50%;
        padding-top: 70%;
        display: inline-block;
        height: auto;
    }
    section.perfil-container .texto-perfil{
        width: 100%;
        display: inline-block;
        padding: 0 30px;
    }
    nav.menu-desktop{
        display: none;
    }
    nav.menu-mobile{
        display: block;
    }
    section.videos .box-video{
        float: none;
        width: 70%;
        display: inline-block;
        padding-top: calc(70% * 0.6);
    }
    section.videos{
        text-align: center;
    }
    .img-mosaico-single-social{
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }
    .moisaico-social > div:nth-of-type(1n+4){
        display: none;
    }
    footer{
        text-align: center;
    }
    footer .footer-block{
        float: none;
        width: 100%;
        margin: 30px 0;
    }
}
@media screen and (max-width: 580px){
    section.perfil-container .img-perfil{
        width: 80%;
        padding-top: 110%;
    }
    section.videos .box-video{
        width: 100%;
        padding-top: calc(100% * 0.6);
    }
    .w50{
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .logo img{
        width: 200px;
    }
}